<h1>Listing fundraisers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fundraisers.each do |fundraiser| %>
      <tr>
        <td><%= fundraiser.name %></td>
        <td><%= fundraiser.email %></td>
        <td><%= fundraiser.description %></td>
        <td><%= link_to 'Show', fundraiser %></td>
        <td><%= link_to 'Edit', edit_fundraiser_path(fundraiser) %></td>
        <td><%= link_to 'Destroy', fundraiser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fundraiser', new_fundraiser_path %>
