<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>


  </div>
  <div class="field">
    <%= f.label :story %><br>
    <%= f.text_area :story %>
  </div>
  <div class="field">
    <%= f.label :target_amount %><br>
    <%= f.number_field :target_amount %>
  </div>
  <div class="field">
    <%= f.label :amount_raised %><br>
    <%= f.number_field :amount_raised %>
  </div>
  <div class="field">
    <%= f.label :timeline %><br>
    <%= f.date_select :timeline %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
