<p id="notice"><%= notice %></p>

<p>
  <strong>Story:</strong>
  <%= @project.story %>
</p>

<p>
  <strong>Target amount:</strong>
  <%= @project.target_amount %>
</p>

<p>
  <strong>Amount raised:</strong>
  <%= @project.amount_raised %>
</p>

<p>
  <strong>Timeline:</strong>
  <%= @project.timeline %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
